# =========================
# Maven / Build
# =========================
target/

# =========================
# Compilados
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Reportes generados
# =========================
reports/

# =========================
# Config sensible
# =========================
src/main/resources/config.properties

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# Otros IDEs
# =========================
.project
.classpath
.settings/
.vscode/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporales
# =========================
*.tmp
*.swp
*.swo